{% extends 'base.html' %}
{% block title %}Hi-Yppe Home{% endblock %}

{% block body %}

<h1>Ready to feel the Hi-Yppe?</h1>

<h2>Create Account</h2>
<form action="/account" method="POST">
    <p>
        Email <input type="text" name="user_email">
    </p>

    <p>
        Password <input type="password" name="user_password">
    </p>

    <p>
        <input type="submit">Create Account
    </p>
</form>

<h2>Login</h2>
<form action="/login" method="POST">
    <p>
        Email <input type="text" name="user_email">
    </p>

    <p>
        Password <input type="password" name="user_password">
    </p>

    <p>
        <input type="submit">Create Account
    </p>
</form>
{% endblock %}
